{% extends "base-extended.html" %}
{% block extendedtitle %}{{object.title}}{% endblock %}

{% block extrastyle %}
<style type="text/css">
.comment {
}
.commenttext {
	font-size: smaller;
	padding-left: 2em;
	border-bottom: solid 1px;
}
</style>
{% endblock %}

{% block content %}
<div class="blogentry {% if not object.released %}unreleased{% endif %}">
	<div class="date">{{object.post_date}}</div>
	<div class="title">{{object.title}}</div>

	{{object.contents}}
	{% if object.enclosure_url %}
		<div class="enclosure">
			<h1>Enclosure</h1>
			<p>
				<a href="{{object.enclosure_url}}">
				{% if object.enclosure_thumb %}
					<img src="{{object.enclosure_thumb}}"
						title="{{object.title}} enclosure"
						alt="{{object.title}} enclosure"/>
				{% else %}
					{{object.title}} enclosure
				{% endif %}
				</a>
				({{object.enclosure_type}}, {{object.enclosure_length|filesizeformat}})
			</p>
		</div>
		{% endif %}
</div>

{% load comments %}

{% get_free_comment_list for blog.post object.id as comment_list %}

<div id="commentContainer">

<a name="comments"/>
<h2>Comments</h2>

{% for comment in comment_list %}
<div class="comment" id="c{{ comment.id }}">
	<a name="c{{ comment.id }}"/>
	<h3>{{ comment.person_name }}, at
	{{ comment.submit_date|date:"F j, Y" }} {{ comment.submit_date|date:"P" }},
	said:</h3>
	<div class="commenttext">
		{{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
	</div>
</div>
{% endfor %}

<h2>Post a Comment</h2>
<div id="commentform">
{% free_comment_form for blog.post object.id %}
</div>

</div>

{% endblock %}
