{% extends "base-extended.html" %}

{% block extendedtitle %}Recent Posts{% endblock %}

{% load comments %}

{% block altnav %}
	<h1>Table of Contents</h1>
	<ul>
		<li id="aboutlink"><a href="/post/2006/jul/28/greetings/">About</a></li>
		{% for post in latest %}
			<li><a href="#post{{post.id}}">{{post.title|safe}}</a></li>
		{% endfor %}
	</ul>

	{% if date_list %}
		<h1>Archive</h1>

		<ul>
		{% for year in date_list %}
			<li><a href="/archive/{{ year.year }}/">{{year.year}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}

{% block content %}

{% for post in latest %}

	{% get_free_comment_count for blog.post post.id as comment_count %}

	<a name="post{{post.id}}"></a>
	<div class="blogentry {% if not post.released %}unreleased{% endif %}">
		<div class="date">{{post.post_date}}</div>
		<h1 class="title"><a href="/post/{{post.post_date|date:"Y/M/d"|lower}}/{{post.slug}}/">{{post.title|safe}}</a></h1>
		{{ post.contents|safe }}
		{% if post.enclosure_url %}
			<div class="enclosure">
				<h2>Enclosure</h2>
				<p>
					<a href="{{post.enclosure_url}}">
					{% if post.enclosure_thumb %}
						<img src="{{post.enclosure_thumb}}"
							title="{{post.title|safe}} enclosure"
							alt="{{post.title|safe}} enclosure"/>
					{% else %}
						{{post.title}} enclosure
					{% endif %}
					</a>
					({{post.enclosure_type}}, {{post.enclosure_length|filesizeformat}})
				</p>
			</div>
		{% endif %}
		<p class="postmeta">
			<a href="/post/{{post.post_date|date:"Y/M/d"|lower}}/{{post.slug}}/#comments">
			{{ comment_count }} comment{{ comment_count|pluralize }}
			</a>
		</p>
	</div>
{% endfor %}

{% endblock %}
