{% extends "base-extended.html" %}
{% block extendedtitle %}{{object.title|safe}}{% endblock %}

{% block content %}
<div class="blogentry {% if not object.released %}unreleased{% endif %}">
	<div class="date">{{object.post_date}}</div>
	<h1 class="title">{{object.title|safe}}</h1>

	{% ifequal object.format 2 %}
		{% load markup %}
		{{object.contents|markdown }}
	{% else %}
		{{object.contents|safe }}
	{% endifequal %}

	{% if object.enclosure_url %}
		<div class="enclosure">
			<h2>Enclosure</h2>
			<p>
				<a href="{{object.enclosure_url}}">
				{% if object.enclosure_thumb %}
					<img src="{{object.enclosure_thumb}}"
						title="{{object.title|safe}} enclosure"
						alt="{{object.title|safe}} enclosure"/>
				{% else %}
					{{object.title|safe}} enclosure
				{% endif %}
				</a>
				({{object.enclosure_type}}, {{object.enclosure_length|filesizeformat}})
			</p>
		</div>
		{% endif %}
</div>

<div id="disqus_thread"></div><script type="text/javascript"
src="http://disqus.com/forums/rsp/embed.js"></script><noscript><a
href="http://rsp.disqus.com/?url=ref">View the discussion
thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog
comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
